<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canarie</title>
    <link rel="stylesheet" href="/Styles/main.css">
    <script type="text/javascript" src="/Script/file.js" defer></script>

    <!--Fontes-->
    <!--Texto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    
    <!--Canarié-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/#nossaHistoria">História</a></li>
            <li><a href="/catalogo?value=1">Portfólio</a></li>
            <li><a href="/"><h1 style="font-size: 90px;">Canarié</h1></a></li>
            <li><a href="/noticia/list">Noticias & Artigos</a></li>
            <li><a href="/faleConosco">Fale Conosco</a></li>
        </ul>
        <img src="/Images/vegetaçãoUP.png" id="vegetacaoUP">
    </nav>
    <div id="main">
        <div id="NoticiasBox">
            
        </div>
        <div id="Conteudo">
            <div class="center-div" id="titulo1">
                <h1 style="margin-bottom: 0; margin-top: 0;">Canarié</h1>
                <h2 style="margin-top: 0;line-height: 1.4; font-family: 'Red Hat Display';">A marca de licores referência em sabores tropicais!</h2>
            </div>
            <div class="center-div flexBox">
                <div class="box">
                    <h3 class="TipoLicor">Autêntico</h3>
                    <p>Respeito pelos ingredientes naturais e fermentação artesanal.</p>
                </div>
                <div class="box">
                    <h3 class="TipoLicor">Tropical</h3>
                    <p>Celebração das cores, sabores e a energia vibrante das frutas tropicais.</p>
                </div>
                <div class="box">
                    <h3 class="TipoLicor">Criativo</h3>
                    <p>Criatividade na criação de novas combinações e experiências sensoriais.</p>
                </div>
                <div class="box">
                    <h3 class="TipoLicor">Sustentabilidade</h3>
                    <p>Compromisso com práticas ecológicas na produção.</p>
                </div>
            </div>
            <div id="titulo2">
                <h1>Licores que Encantaram</h1>
                <img src="/Images/PassaroLateral.png" id="PassaroLateral">
            </div>
            <div class="center-div flexBox" style="justify-content: center;">
                <img src="/Images/GarrafasLicor.png" style="max-width: 1000px; height: auto; object-fit: contain;">
                <div class="licores-info">
                    <div>
                        <h3 style="font-weight: 800;" class="TipoLicor">Licor Beijo Tropical</h3><p>Uma dança de sabores doces e ácidos, com sabor de abacaxi - "Como um beijo do sol nas suas papilas gustativas."</p></h3>
                    </div>
                    <div>
                        <h3 style="font-weight: 800;" class="TipoLicor">Licor Flor da paixão</h3><p>Uma paixão vibrante em cada gole de maracujá, trazendo o calor e a intensidade da fruta tropical.</p>
                    </div>
                    <div>
                        <h3 style="font-weight: 800;" class="TipoLicor">Licor de Manga</h3><p>A doçura suculenta da manga em uma explosão tropical que aquece o coração.</p></h3>
                    </div>
                </div>
            </div> 
            <div class="center-div">
                <h2>Prepare-se para uma jornada refrescante e exótica em cada gole!</h2>
                <button class="CompraButton" onclick="window.location.href='/catalogo?value=1'">Experimente!</button>
            </div>
            <div id="SobreNos">
                <h3 class="SobreNosH3">Sobre Nós</h3>
                <p style="font-size: 25px; font-weight: bold; margin: 0;">
                    Como uma brisa suave ao pôr do sol, <br>
                    uma fruta madura colhida no ponto certo,<br>
                    a alegria de momentos compartilhados com quem amamos.<br>
                    <b style="color: var(--AmareloCanário);">Esta é a Canarié!</b> 
                </p>
                <p>
                    Acreditamos que cada gole deve ser uma celebração da vida. Inspirados pelas cores, sabores e o calor das regiões tropicais, criamos licores únicos que trazem frescor e autenticidade em cada garrafa. Nossas bebidas são fermentadas com cuidado artesanal e um toque tropical que remete às melhores experiências de verão.
                <br>
                <br>
                    Usamos ingredientes naturais e exóticos. Nossos licores são elaborados para proporcionar uma experiência sensorial inesquecível, seja em uma celebração especial ou em uma tarde tranquila, Canarié é a escolha perfeita para quem valoriza o sabor da vida. <b>Deixe-se levar pelo espírito tropical e desfrute de momentos vibrantes, elegantes e cheios de personalidade.</b>
                </p>
                <img src="/Images/PlantaBicoPapagaio.png" id="PlantaBicoPapagaio">
            </div>
            <div style="margin: 0 40px;">
                <h1 id="nossaHistoria">Nossa História</h1>
                <img src="/Images/FachadaAntiga2.jpg" id="FachadaCanarié">
                <p>
                    A Canarié nasceu da paixão por sabores exóticos e da vontade de criar algo único e marcante. A marca foi idealizada em 2023, em meio ao clima tropical do Brasil, onde a diversidade de frutas e ingredientes naturais inspirou a criação de licores com um toque refrescante e autêntico. Desde o início, o objetivo era simples: capturar a essência vibrante dos trópicos em cada garrafa e proporcionar uma experiência de sabor que conectasse pessoas e criasse momentos inesquecíveis.
                <br>
                <br>
                    A escolha do nome Canarié foi inspirada no icônico pássaro canário, conhecido por suas cores vivas e por trazer alegria com seu canto. Assim como o pássaro, os licores da Canarié são sinônimos de leveza, alegria e celebração. Cada gole de um licor Canarié é uma viagem ao calor das praias tropicais, às festas ao pôr do sol e aos momentos de descontração ao lado de amigos e familiares.
                <br>
                <br>
                    Desde o começo, a marca focou em processos artesanais de produção, com fermentação cuidadosa e a seleção rigorosa de ingredientes naturais. Cada receita foi pensada para garantir que o frescor e a autenticidade dos sabores tropicais estivessem presentes em cada bebida. Seja em uma ocasião especial ou em uma tarde tranquila, a Canarié busca ser o toque perfeito para cada momento.
                </p>
                <p>
                    A Canarié rapidamente se destacou pela sua personalidade única. Mais do que uma bebida, a marca representa um estilo de vida: descontraído, elegante e cheio de personalidade. Sua essência tropical foi logo reconhecida por aqueles que buscam uma experiência sensorial, onde cada garrafa carrega não apenas sabor, mas também histórias de verão, de encontros e de celebração à vida.
                    <br>
                    <br>
                    Com o passar do tempo, a Canarié expandiu seu portfólio, sempre fiel à sua filosofia de usar ingredientes naturais e técnicas tradicionais. Hoje, a marca é sinônimo de qualidade, e seus licores são apreciados por quem valoriza a autenticidade e o frescor em cada detalhe.A Canarié continua sua jornada, sempre trazendo inovação em sabores, mas sem perder suas raízes tropicais.
                </p>
                <div class="center-div" style="margin: 40px 0; z-index: 2; position: relative;">
                    <h2 style="text-shadow: 3px 2px 5px var(--BrancoPerolado);">Sinta nossa história em algo maior que palavras!</h2>
                    <button class="CompraButton" onclick="window.location.href='/catalogo?value=1'">Deguste!</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer">
            <img src="/Images/Download_premium_png_of_Parrot_border_transparent_png_jungle_illustration_by_nook_about_tropical__jungle__parrot__bird_png__and_tropical_leaves_2613715-removebg-preview.png" style="z-index: 1; position: relative">
            <div class="footer-content">
                <div class="footer-section">
                    <h2>Contato</h2>
                    <p>Email: contato@canarie.com</p>
                    <p>Telefone: (11) 1234-5678</p>
                    <p>Endereço: Rua Exemplo, 123 - São Paulo, SP</p>
                </div>
                <div class="footer-section social">
                    <h2>Siga-nos</h2>
                    <div class="social-links">
                        <a href="https://facebook.com" target="_blank">Facebook</a>
                        <a href="https://instagram.com" target="_blank">Instagram</a>
                        <a href="https://twitter.com" target="_blank">Twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>