<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canarie</title>
    <link rel="stylesheet" href="/Styles/main.css">
    <script type="text/javascript" src="/Script/file.js" defer></script>

    <!--Fontes-->
    <!--Texto-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    
    <!--Canarié-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/#nossaHistoria">História</a></li>
            <li><a href="/catalogo?value=1">Portfólio</a></li>
            <li><a href="/"><h1 style="font-size: 90px;">Canarié</h1></a></li>
            <li><a href="/noticia/list">Noticias & Artigos</a></li>
            <li><a href="/faleConosco">Fale Conosco</a></li>
        </ul>
        <img src="/Images/vegetaçãoUP.png" id="vegetacaoUP">
    </nav>
        <div id="Conteudo">
            <div id="produtoShow">
                
            </div>
        </div>
    <footer>
        <div class="footer">
            <img src="/Images/Download_premium_png_of_Parrot_border_transparent_png_jungle_illustration_by_nook_about_tropical__jungle__parrot__bird_png__and_tropical_leaves_2613715-removebg-preview.png" style="z-index: 1; position: relative">
            <div class="footer-content">
                <div class="footer-section contact">
                    <h2>Contato</h2>
                    <p>Email: contato@canarie.com</p>
                    <p>Telefone: (11) 1234-5678</p>
                    <p>Endereço: Rua Exemplo, 123 - São Paulo, SP</p>
                </div>
                <div class="footer-section social">
                    <h2>Siga-nos</h2>
                    <div class="social-links">
                        <a href="https://facebook.com" target="_blank">Facebook</a>
                        <a href="https://instagram.com" target="_blank">Instagram</a>
                        <a href="https://twitter.com" target="_blank">Twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>



